node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

venv/
.env
*.pyc
__pycache__/

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/

my-website/build/
my-website/.docusaurus/

*.log

*.swp
*.swo

my-website/6ix-esolang/
**/.git/
